@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(216, 182, 135);
  font-family: "Fredoka", sans-serif;
}
